apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fabconnect.fullname" . }}-config
  labels:
    app: {{ include "fabconnect.name" . }}
data:
  config.json: |
    {
      "maxInFlight": 10,
      "maxTXWaitTime": 60,
      "sendConcurrency": 25,
      "receipts": {
        "maxDocs": 1000,
        "queryLimit": 100,
        "retryInitialDelay": 5,
        "retryTimeout": 30,
        "leveldb": {
          "path": "/fabconnect/receipts"
        }
      },
      "events": {
        "webhooksAllowPrivateIPs": true,
        "leveldb": {
          "path": "/fabconnect/events"
        }
      },
      "http": {
        "port": {{ .Values.service.port }}
      },
      "rpc": {
        "useGatewayClient": false,
        "configPath": "/etc/fabconnect-certs/connection.json"
      }
    }
